@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap);

* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.movie {
  width: 250px;
  margin: 1rem;
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  overflow: hidden;
  position: relative;
}
.movie img {
  max-width: 100%;
}
.movie-container {
  display: flex;
  flex-wrap: wrap;
}
.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.movie-info h3 {
  margin: 0;
}
.movie-over {
  background-color: #fff;
  color: #22254b;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0,0,0,0.1);
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
  overflow: auto;
  max-height: 100%;
}
.movie:hover .movie-over {
  transform: translateY(0%);
}