@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap);

* {
  box-sizing: border-box;
}

body {
  background-color: #222831;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.root{
  display: flex;
  flex-direction: column;
}

header {
  background-color: #393E46;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.search {
  font-family: inherit;
  border: 2px solid #222831;
  border-radius: 50px;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  padding: 6px 12px;
}
.searh:focus {
  outline: none;
}

.movie {
  width: 250px;
  margin: 1rem;
  background-color: #393E46;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  overflow: hidden;
  position: relative;
}
.movie img {
  max-width: 100%;
  height: 400px;
  object-fit: cover;
}
.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.movie-info h3 {
  margin: 0;
  font-size: 1rem;
}
.movie-over {
  background-color: #fff;
  color: #222831;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0,0,0,0.1);
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
  overflow: auto;
  max-height: 100%;
}
.movie:hover .movie-over {
  transform: translateY(0%);
}
.tag {
  background-color: #222831;
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: bold;
}
.tag.green {
  color: green;
}
.tag.orange {
  color: orange;
}
.tag.red {
  color: red;
}